* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  display: grid;
  gap: var(--panel-gap);
  grid-template-areas:
    "top-banner top-banner top-banner"
    "global-nav global-nav global-nav"
    "left-sidebar main-view right-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  min-height: 100%;
  padding: var(--panel-gap);
  position: relative;
}
.logo {
  color: #fff;
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 0;
  grid-column-end: 1;
  align-items: center;
  margin: 0;
}
.search-col {
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}
.sidebar {
  grid-row: span 1 / 2;
  grid-column: span 1/ 1;
  height: 100%;
}
.main {
  width: 100%;
  flex: 1;
}
.sidebar {
  flex: none;
  height: 100%;
}
.square {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #333333;
}
.search-bar {
  background-color: grey;
  left: 50%;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 50px;
}
.my-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.my-button:hover {
  background-color: black;
  color: white;
}
