@import url(button.css);
@import url(searchbar.css);
@import url(variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--encore-title-font-stack);
}
body {
  background-color: var(--background);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0.5rem;
}

.container {
  display: grid;
  grid-template-rows: 4.5rem 1fr 4.5rem;
  gap: 0.5rem;

  width: 100%;
}
.row {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  gap: 0.5rem;
}

.col {
  &.logo {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      fill: var(--foreground);
    }
  }
}
.col {
  &.search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
aside.col {
  display: flex;
  flex-direction: column;
  & nav {
    background: var(--sidebar);
    flex: 1;
    border-radius: 0.5rem;
    & ul {
      padding-inline: 1rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}
footer {
  display: grid;
  grid-template-columns: 515px 1fr 523px;
}

.content-window {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 11rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--foreground);
}
