.search-bar {
  background-color: #1f1f1f;
  inline-size: 474px;
  height: 48px;
  padding: 10px;
  font-size: 16px;
  border-radius: 100px;
  grid-column-start: 2;
  position: relative;
  left: 115px;
}
