@import url(button.css);
@import url(searchbar.css);
@import url(variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--encore-title-font-stack);
}
body {
  background-color: var(--background);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0.5rem;
}

.container {
  display: grid;
  grid-template-rows: 4.5rem 1fr 4.5rem;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.row {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  gap: 0.5rem;
}

.col {
  &.logo {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      fill: var(--foreground);
    }
  }
}
.col {
  &.search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
aside.col {
  display: flex;
  flex-direction: column;
  & nav {
    background: var(--sidebar);
    flex: 1;
    border-radius: 0.5rem;
    & ul {
      padding-inline: 1rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}
footer {
  display: grid;
  grid-template-columns: 515px 1fr 523px;
}

.content-window {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 11rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--foreground);
  background: black;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.song-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #850001, #850001, #850001, #4f0907);
}
.song-title {
  position: relative;
  top: 40px;
  left: 20px;
}
.player {
  display: flex;
  align-items: center;
}
.track-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.track-info img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.title {
  font-weight: bold;
}
.controls {
  position: relative;
  right: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.progress {
  width: 400px;
}
